# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Editor settings
.vscode/

# OS metadata
.DS_Store
Thumbs.db

# Output & raw files (保留資料夾)
data/output/*
!data/output/.gitkeep

data/raw/*
!data/raw/.gitkeep

# User directory (包含個資，不上傳)
data/user_directory.json

# Logs
*.log
*.tmp
